.air-temperature-comp
  font-family: Helvetica, Arial, sans-serif  
  border: 1px solid
  border-image-source: linear-gradient(115.86deg, #324D73 31.01%, rgba(228, 228, 228, 0.19) 92.62%)
  background-color: #1B3962
  display: inline-block
  border-radius: 2rem

  padding: 1rem



.title-text
  margin: 0
  padding: 0