$font-family: "Cera Pro", "Helvetica Neue", "Helvetica", "sans-serif" 
  
#ConnectionStatus
  background: #1B3962
  border-radius: 42px
  height: 68px
  width: 250px
  padding-left: 40px
  padding-right: 10px


#Image
  height: 40px
  float: left
  position: relative
  top: 50%
  transform: translate(-50%, -50%);

#Text
  font-family: $font-family
  color: #fafafa
  font-size: 1.2rem
  font-weight: bold
  float: left
  position: relative
  top: 5%
  

#Status
	padding-left: 20px
  font-family: Cera Pro
  font-style: normal
  font-weight: bold
  font-size: 15px
  
  border-radius: 100px
  height: 10px
  width: 10px