#titleDiv
  padding-top: 40px
  padding-left: 40px

#CanDashboard 
  /* CanDashboard */
  position: absolute
  width: 293px
  height: 44px
  left: 88px
  top: 70px

  font-family: Graphik
  font-style: normal
  font-weight: bold
  font-size: 40px
  line-height: 44px

  color: #DEE2E7

#OliTeam
  /* Oli 3AI Team */
  position: absolute
  width: 174px
  height: 31px
  left: 88px
  top: 123px

  font-family: Graphik
  font-style: normal
  font-weight: bold
  font-size: 28px
  line-height: 31px

  color: #F0F0F0
